.block{
    background-color: aqua;
    width: 30%;
    float: left;
    padding-bottom: 20%;
    margin: 1.5%;
    border-radius: 20%;
}

.container{
    margin: 0 auto;
    width: 600px;
}
h1 {
    text-align: center;
    background-color: khaki;
    margin: 0;
    line-height: 2;

}

.menu{
    background-color: ghostwhite;
    height: 30px;
    text-align: center;
}
#rgb{
    font-size: 200%;
    text-transform: uppercase;
}

#banner{
  display: inline-block;
    width: 20%;
}

button{
    border: none;
    background: none;
    height: 100%;
}

button:hover{
    background-color: khaki;
}

.selected{
    background-color: khaki;
}
